.DS_Store
.env
.env.*
!.env.example

node_modules
.next
out
dist

__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

api/.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.tfstate.lock.info

.vercel
.env*.local
